node_modules
*.log
.DS_Store
dist
build
.env
.env.*.local
.env.local
.vercel
.vscode
.idea
.next
out
coverage
server/data/
server/data/*
web/.next
web/out
web/node_modules
web/.env.local
web/.env*
server/node_modules
server/.env
server/.env.local
